@{
    ViewData["Title"] = "Update";
}
@model RentACar.Core.DTOs.ModelDto
<h1>Update</h1>
<div class="row">
    <div class="col-md-6">
        <form asp-action="Update" method="post" asp-controller="Models">
            <input type="hidden" asp-for="Id"/>
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BrandId"></label>
                <select asp-for="BrandId" asp-items="ViewBag.brands" class="form-control"></select>
                <span asp-validation-for="BrandId" class="text-danger"></span>
            </div>
             <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>
