@model IEnumerable<RentACar.Core.DTOs.CarTypeDto>
@{
    ViewData["Title"] = "Index";
}
<h1>Index</h1>
<div>
    <a asp-action="Save" asp-controller="CarTypes" class="btn btn-info">Create</a>
</div>
<br />
<table class="table table-striped">
    <thead>
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Actions</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>
                    <a asp-action="Update" asp-controller="CarTypes" asp-route-id="@item.Id" class="btn btn-success">Update</a>
                    <a asp-action="Remove" asp-controller="CarTypes" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
